:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    200deg,
    #ae00ff,
    #aae5f9
  );
}
.badges {
  display: flex;
  gap: 5px;
}
.buttons {
  display: flex;
  gap: 10px;
}